/* Global styling starts from here */

body {
  height: 100vh;
}
/* Global styling ends here */
/* ------------------------------------------- */
/* Header styling starts from here */

header {
  height: 500px;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 40%;
  padding-top: 10px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

.heading {
  width: 40%;
  margin: 8% 40% 10% 10%;
}

.btn {
  padding: 8px 30px;
  border-radius: 10px;
  border-style: none;
}

.btn:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.1);
}

header{
  background-color: rgb(171, 124, 215);
}

/* Header styling ends here */
/* ------------------------------------------- */
/* Main first-section styling stars from here */

.facts-container {
  width: 180px;
}

.ran-facts {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

 .read_more {
  padding: 10px;
  margin-top: 0;
  text-align: center;
 }

.section_1 {
  display: flex;
  justify-content: center;
  gap: 2em;
}

h2 {
  text-align: center;
  padding: 50px 0 30px 0;
}

.first-section {
  height: 450px;
}
/* Main first-section styling ends here */
/* ------------------------------------------- */
/* Main second-section styling stars from here */

.section_2 {
  height: 200px;
  background-color: #ddd;
}

blockquote {
  text-align: center;
  line-height: 4;
  position: relative;
  top: 20%;
}
#name {
  margin-left: 300px;
}
/* Main second-section ends here */
/* ------------------------------------------- */

.footer_container {
  height: 200px;
  display: flex;
  gap: 10em;
  align-items: baseline;
}

#newsletter {
  position: relative;
  top: 60px;
  left: 10%;
}

#btn_1 {
  position: relative;
  top: 70px;
  right: 10%;
}

#bottom {
  background-color: rgb(103, 102, 106);
  height: 70px;
}

#message {
text-align: center;
position: relative;
top: 20px;
}